p {
    font-family: Roboto;
    margin-top: 0;
  }

  .video-title {
    /* font-family: Arial; */
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .video-stats {
    /* font-family: Arial; */
    font-size: 14px;
    color: gray;
    margin-top: 0;
    margin-bottom: 9px;
  }

  .video-author {
    /* font-family: Arial; */
    font-size: 14px;
    color: gray;
    margin-top: 0;
  }

  .video-desc {
    width: 180px;
    color: gray;
    font-size: 10px;
    font-family: Arial;
    line-height: 16px;
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
  }

  .span-example:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }